* {
  font-family: sans-serif;
  }
  
  
  body {
  background-image: url("https://d6xcmfyh68wv8.cloudfront.net/blog-content/uploads/2021/01/IS2-1536x873.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-top: 2rem;
  }
  
  
  h1 {
  color: yellow;
  text-align: center;
  }
  
  
  .container {
  background-color: #32ecb0;
  border-radius: 10px;
  height: auto;
  width: 35%;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* margin-bottom: 2rem; */
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  }
  
  
  .singleInputBox {
  width: 80%;
  }
  
  
  .inputbox {
  height: 2rem;
  width: 100%;
  padding: 0 0.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  }
  
  
  .inputbox:focus {
  outline: none;
  border: 2px solid pink;
  }
  
  
  .inputContainer {
  height: 2rem;
  width: 100%;
  }
  .cvvBox {
  height: 1.5rem;
  width: 4rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  }
  
  
  .cvvBox:focus {
  outline: none;
  border: 2px solid pink;
  }
  #expiryDateAndMonthBox {
  width: 80%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  }
  #submitButton {
  border-radius: 5px;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5rem 2rem;
  background-color: purple;
  opacity: 0.5;
  border: none;
  cursor: pointer;
  }
  
  
  #submitButtonBox {
  height: 2rem;
  width: 9rem;
  /* margin: auto; */
  }
  .acsText {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  }
  #expiryMonth {
  height: 1.5rem;
  width: 3rem;
  border-radius: 5px;
  border: none;
  }
  
  
  #expiryMonth:focus {
  outline: none;
  }
  #expiryYear {
  height: 1.5rem;
  width: 4rem;
  border-radius: 5px;
  border: none;
  }
  #expiryYear:focus {
  outline: none;
  }
  .allInputFieldHeading {
  font-weight: 600;
  font-family: sans-serif;
  }
  #cardNumberErrorMessage,
  #errorMessageForCvv,
  #cardHolderNameErrorMessage {
  font-size: 12px;
  color: red;
  margin: 0;
  padding: 0;
  }
  #showErrorMessage,#pleaseWait {
  text-align: center;
  font-weight: bold;
  color: red;
  }
  
  
  @media all and (max-width: 1000px) {
  .container {
  width: 100%;
  }
  }
  